.app_orange_theme {
    --bg-color: #f7f4fb;
    --inverted-bg-color: #43038e;
    --primary-color: #43038e;
    --secondary-color: #f7f4fb;
    --inverted-primary-color: #f7f4fb;
    --inverted-secondary-color: #43038e;
    --sceleton-shadow: #43038e;
    --sceleton-color: #270253;
    --code-bg: #fff;
}
